body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: white;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    background: white;
    color: black;
    padding: 20px;
    border-radius: 12px;
    margin-top: 40px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}

/* TABLE STYLE */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #2a5298;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

tr:hover {
    background: #f5f5f5;
}

/* BUTTONS */
.btn {
    padding: 6px 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.update { background: #ff9800; }
.delete { background: #f44336; }

.btn:hover {
    opacity: 0.8;
}
.back-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background: #555;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.back-btn:hover {
    background: #333;
}
